@charset "UTF-8";

@use '../foundation/root' as *;
@use '../foundation/base' as *;
@use '../foundation/variables' as *;
@use '../foundation/mixins' as *;
@use '../foundation/reset' as *;
@use '../layout/header' as *;
@use '../layout/footer' as *;

@use '../projects/footer' as *;
@use '../projects/common' as *;
@use '../projects/pages' as *;

@use '../utilities/borders' as *;
@use '../utilities/typography' as *;
@use '../utilities/display.scss' as *;
@use '../projects/top' as *;


/* -------------------------------
 *  page-faq
 * ---------------------------- */

.faq__container {
    padding: 40px 16px;
    width: 59.5%;

    @include media-query('md', max-width) {
        width: 100%;
        padding: 20px 16px;
    }
}

/* --------アコーディオン -------- */
// summary details全体のスタイル
summary {
    cursor: pointer;
    display: block;
}

summary::-webkit-details-marker {
    /* Safariで表示されるデフォルトの三角形アイコンを消す */
    display: none;
}

details {
    transition: all 0.3s;
}

details.c-accordion__item {
    border: 1px solid var(--color-gray-ccc);
    padding: 18px 32px 12px;
    margin-bottom: 19px;

    @include media-query('md', max-width) {
        padding: 18px 20px 6px;
        margin-bottom: 28px;
    }
}

// summary内のスタイル
.l-summary_inner {
    display: grid;
    grid-template-columns: 38px 1fr auto;
    grid-template-rows: auto 1fr;
    align-items: center;
    cursor: pointer;

    @include media-query ('md', max-width) {
        column-gap: 7px;
    }

    .summary-title {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
}

.summary-title {
    padding-top: 10px;
    padding-bottom: 12px;
    font-size: 18px;

    @include media-query('md', max-width) {
        font-size: 16px;
        padding: 2px 6px 4px;
        line-height: 1.6;
    }
}

.faq__qa-icon {
    color: var(--color-primary);
    font-size: 24px;
}

.faq__label-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 4px;

    .__label.bgc-white {
        background-color: var(--color-white);
        color: var(--color-primary);
        border: 1px solid var(--color-primary);
        padding: 3px 0;
        margin-left: 4px;
    }

    .__label {
        display: inline-block;
        text-align: center;
        min-width: 100px;
        font-size: 11px;
    }
}

/* -----アコーディオンの中身のスタイル----- */
details .content {
    overflow: hidden;
}

details .content__text {
    font-size: 16px;
    line-height: 1.6;
    padding: 12px 0;

    @include media-query('md', max-width) {
        line-height: 1.7;
        padding: 0 0 12px 0;
    }
}

//+-アイコン
.accordion-icon {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;

    &::before,
    &::after {
        content: "";
        display: inline-block;
        width: 18px;
        height: 2px;
        background-color: #666;
        border-radius: 1px;
        position: absolute;
        left: 23%;
        top: 50%;
        transform: translateY(-50%);
        transition: all .3s ease;
    }

    &::after {
        transform: translateY(-50%) rotate(90deg);
        transition: transform .3s ease;
    }
}

/* is-openedクラスが付与されたときのスタイル （[open]だと動き始めが遅くなるため、タイミングの調整） */
details.is-opened .accordion-icon {
    &::before {
        opacity: 0;
    }

    &::after {
        transform: translateY(-50%) rotate(180deg);
    }       
}