
@charset "UTF-8";

@use '../foundation/_root.scss' as *;
@use '../foundation/base' as *;
@use '../foundation/variables' as *;
@use '../foundation/mixins' as *;
@use '../foundation/reset' as *;
@use '../utilities/display.scss' as *;



/*-------------------------------
 *  footer
 * ---------------------------- */

.l-footer {
    margin-top: 68px;
    display: flex;
    align-items: center;
    height: 96px;
    text-align: center;
}